<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/header :: header(~{::title}, ~{::link}, ~{::script})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>게시판 - 게시글 상세보기</title>
  <link th:href="@{/css/detail.css}" rel="stylesheet">
  <script></script>
</head>
<body>
<nav th:replace="layouts/nav"></nav>
<div class="container">
  <main class="detail w-100 m-auto">
    <h1 class="text-center">게시글 상세보기</h1>
    <div class="mb-3">
      <label for="title" class="form-label">제목</label>
      <input type="text" class="form-control" id="title" value="제목입니다." placeholder="제목을 입력하세요" disabled>
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">내용</label>
      <textarea class="form-control" id="content" rows="5" disabled>내용입니다.</textarea>
    </div>
    <div class="mb-3">
      <button class="btn btn-primary me-2" type="button" id="fileUploadBtn">첨부파일</button>
      <span id="fileName"><a href="#" class="link-secondary fileLink">adas</a></span>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <div>
        <a href="/board/update" class="btn btn-primary me-md-2" type="button">수정</a>
        <button class="btn btn-danger me-md-2" type="button">삭제</button>
      </div>
      <a href="/" class="btn btn-secondary">목록</a>
    </div>
  </main>
</div>
<footer th:replace="layouts/footer"></footer>
</body>
</html>