<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsconf.board.mapper.BoardMapper">

    <insert id="save" parameterType="com.jsconf.board.dto.board.BoardSaveDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board(user_id, title, content, create_date)
        VALUES (#{userId}, #{title}, #{content}, NOW())
    </insert>

    <select id="findById" parameterType="int" resultType="com.jsconf.board.dto.board.BoardDto">
        SELECT b.id, b.user_id, u.name, b.title, b.content, b.read_count, b.create_date, f.id AS file_id, f.file_original_name
        FROM board b
        INNER JOIN user u ON b.user_id = u.id
        LEFT JOIN file f ON b.id = f.board_id
        WHERE b.id = #{boardId}
    </select>

    <delete id="deleteById" parameterType="int">
        DELETE FROM board WHERE id = #{boardId}
    </delete>

    <update id="updateBoard" parameterType="com.jsconf.board.dto.board.BoardUpdateDto">
        UPDATE board
        SET title = #{title},
            content = #{content}
        WHERE id = #{id}
    </update>

</mapper>