<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsconf.board.mapper.FileMapper">

    <insert id="save" parameterType="com.jsconf.board.dto.file.FileDto">
        INSERT INTO file(board_id, file_name, file_original_name, file_path, create_date)
        VALUES (#{boardId}, #{fileName}, #{fileOriginalName}, #{filePath}, NOW())
    </insert>

    <update id="updateFile" parameterType="com.jsconf.board.dto.file.FileDto">
        UPDATE file
        SET file_path = #{filePath},
            file_original_name = #{fileOriginalName},
            file_name = #{fileName}
        WHERE board_id = #{boardId}
    </update>

    <select id="findById" parameterType="int" resultType="com.jsconf.board.dto.file.FileDto">
        SELECT *
        FROM file
        WHERE id = #{fileId}
    </select>

</mapper>